<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <title>后台管理中心</title>
    <link rel="stylesheet" href="/styles/workde.css" />
    <link rel="stylesheet" href="/layui/css/layui.css" />
</head>
<body class="workde-body">
<div class="workde-nav">企业 <strong>/</strong>企业管理</div>
<div class="workde-main">
    新增
</div>
<script src="/scripts/jquery-2.1.3.min.js"></script>
<script src="/layui/layui.all.js"></script>
<script src="/scripts/workde.js"></script>
</body>
</html>
