<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <title>后台管理中心</title>
    <link rel="stylesheet" href="/styles/workde.css" />
    <link rel="stylesheet" href="/layui/css/layui.css"  media="all">
</head>
<body class="workde-body">
<div class="workde-nav">企业 <strong>/</strong>企业管理</div>
<div class="workde-main">
    <div class="workde-tit layui-clear">
        <h3>企业管理</h3>
    </div>
    <form class="layui-form" action="">
        <#list 1..mm.groupSize as idx>
        <div class="workde-form-group">${mm.getGroupName(idx)}</div>
        <div class="workde-form">
            <#list mm.getNewFormFields(idx) as field>
                <@ui.field field />
            </#list>
        </div>
        </#list>
        <div class="layui-form-item">
            <div class="layui-input-block">
                <button type="button" class="layui-btn layui-btn-sm" lay-submit lay-filter="form-submit">立即提交</button>
                <a href="javascript:history.back();" class="layui-btn layui-btn-sm">返回</a>
            </div>
        </div>
    </form>
</div>
<script src="/layui/layui.js" charset="utf-8"></script>
<script src="/scripts/workde.js"></script>
<script>
    Wb.ready(function() {
        var form = layui.form;
        form.render();

        form.on('submit(form-submit)', function(data){
            Wb.submit('new', data.field, function(resp) {
                if(resp.code == 200 && resp.success) {
                    Wb.msg("操作成功");
                    Wb.jump('list', 2);
                }
            });
            return false;
        });
    })
</script>
</body>
</html>


