<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <title>后台管理中心</title>
    <link rel="stylesheet" href="/styles/workde.css" />
    <link rel="stylesheet" href="/layui/css/layui.css"  media="all">
    <script src="/layui/layui.js" charset="utf-8"></script>
    <script src="/scripts/workde.js"></script>
</head>
<body class="workde-body">
<div class="workde-nav">企业 <strong>/</strong>企业管理</div>
<div class="workde-main">
    <div class="workde-btns">
        <a href="new" class="layui-btn layui-btn-sm">增加</a>
    </div>
    <form class="layui-form">
        ${list}
    <@ui.list_page value=list mm=mm />
    </form>
</div>
<script>
    Wb.ready(function(){

    });
</script>
</body>
</html>

