.layui-btn {
    background-color: #428bca!important;
}

.layui-btn-gray {
    background-color: #999!important;
}

.layui-form-onswitch {
    background-color: #428bca!important;
    border-color: #428bca!important;
}

.layui-laypage-em {
    background-color: #428bca!important;
}

.layui-laypage a:hover {
    color: #428bca!important;
}

.layui-table-cell .layui-form-checkbox[lay-skin=primary] {
    top: 2px!important;
}

.workde-header {
    background: #fff!important;
    border-bottom: 1px solid #E7EBEF;
}

.workde-header .layui-logo {
    background: #4196E1;
}

.workde-header .layui-nav .layui-nav-item a {
    color: #666;
    font-size: 14px;
    display: inline;
    padding: 10px 20px;
    border-radius: 6px;
}

.workde-header .layui-nav .layui-nav-item a:hover {
    background-color: #F6F6F6;
}

.workde-header .top-menu a.select {
    color: #4196E1;
}

.workde-header  .layui-nav-bar {
    display: none;
}

.workde-header .layui-nav .layui-this:after {
    display: none;
}

.workde-side .tops {
    height: 30px;
    width: 200px;
    background-image: url("http://work.fpvol.cn/Application/Admin/View/default/public/images/admin_left_topbg.png");
    background-repeat:no-repeat;
    background-position: center center;
}

.workde-side {
    top: 0!important;
}

.workde-side .layui-side-scroll {
    height: auto;
}
.workde-side .layui-nav {
    background-color: #2F4050;
}

.workde-side .layui-nav-tree a:hover {
    background-color: #23303C;
}

.workde-side .layui-nav-bar {
    display: none;
}

.workde-side .layui-nav-tree .layui-nav-item {
    margin-bottom: 1px;
}

.workde-side .layui-nav-tree .layui-this a {
    background-color: #23303C!important;
}

.workde-side .layui-icon {
    margin-right: 15px;
    display: inline-block;
    width: 25px;
}

.workde-side .layui-icon-right {
    margin-left: 20px;
}

.workde-body {
    background-color: #EEF2F5;
}
.workde-nav {
    padding-left: 25px;
    height: 50px;
    line-height: 50px;
    font-size: 14px;
    color: #8b8b8b;
}

.workde-nav strong {
    font-weight: normal;
    padding-left: 8px;
    padding-right: 8px;
}

.workde-main {
    background: #fff;
    margin-left: 20px;
    padding: 10px 20px;
}

.workde-tit {
    padding-top: 0px;
    padding-bottom: 18px;
    padding-left: 20px;
}

.workde-tit h3 {
    font-size: 18px;
    color: #666666;
    width: auto;
    float: left;
    margin-right: 25px;
    line-height: 35px;
    padding-left: 6px;
}

.workde-form-group {
    padding-left: 20px;
    margin-left: 20px;
    margin-right: 20px;
    border-bottom: 1px #DFDFDF solid;
    border-top: 1px #DFDFDF solid;
    background-color: #F5F7F8;
    height: 50px;
    line-height: 50px;
    margin-bottom: 20px;
    color: #666666;
}

.workde-main .workde-form {
    width: 900px;
}

.workde-main .layui-form .layui-form-label {
    width: 150px;
}

.workde-main .layui-form .layui-input-block {
    margin-left: 180px;
    line-height: 36px;
}
