<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
        <title>后台管理中心</title>
        <link rel="stylesheet" href="../layui/css/layui.css" />
    </head>
    <body class="layui-layout-admin layui-layout-body ">
        <div class="layui-layout layui-layout-admin">
            <div class="layui-header layui-bg-blue">
                <div class="layui-logo">
                    <img src="http://work.fpvol.cn/Application/Admin/View/default/public/images/admin_logo_in.png" />
                </div>
                <ul class="layui-nav layui-layout-left">
                    <li class="layui-nav-item layui-this"><a href="/cpanel">首页</a></li>
                    <li class="layui-nav-item"><a href="/" target="_blank">企业<span class="layui-badge-dot"></span></a></li>
                    <li class="layui-nav-item"><a href="/" target="_blank">个人</a></li>
                    <li class="layui-nav-item"><a href="/" target="_blank">内容</a></li>
                    <li class="layui-nav-item"><a href="/" target="_blank">工具</a></li>
                    <li class="layui-nav-item"><a href="/" target="_blank">系统</a></li>
                </ul>
                <ul class="layui-nav layui-layout-right">
                    <li class="layui-nav-item">
                        <a href="/cpanel/edit_password">管理员</a>
                    </li>
                    <li class="layui-nav-item"><a href="/cpanel/logout">退出系统</a></li>
                </ul>
            </div>
            <div class="layui-side layui-bg-black">
                <div class="layui-side-scroll">
                    <ul class="layui-nav layui-nav-tree">
                        <li class="layui-nav-item"><a href=""><i class="layui-icon layui-icon-home"></i>&nbsp;管理中心</a></li>
                        <li class="layui-nav-item"><a href=""><i class="layui-icon layui-icon-close"></i>&nbsp;退出登录</a></li>
                    </ul>
                </div>
            </div>
        </div>
        <script src="../scripts/jquery-2.1.3.min.js"></script>
        <script src="../layui/layui.all.js"></script>
    </body>
</html>
